<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Raita.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>

	<body>
		<div id="header"><a href="@Url.Content("~/")" id="header-home">home</a><div id="header-content">cucumber + curds</div></div>
		@RenderBody()
	</body>
</html>
